@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body,
    input,
    textarea,
    select,
    button {
        /* font-family: 'Archivo', sans-serif; handled by tailwind */
    }
}